WSAD2025/pages/implementacja/data/pca.pkl
WSAD2025/pages/implementacja/data/X_test_pca.npy
WSAD2025/pages/implementacja/data/y_test.npy
WSAD2025\pages\implementacja\data\pca.pkl
WSAD2025\pages\implementacja\data\X_test_pca.npy
WSAD2025\pages\implementacja\data\y_test.npy